.securite
{
    background-color: lightgray;
}

.paiement
{
    padding-top: 10px;
    color: white;
    height: 50px;
    font-size: 1.5em;
    text-align: center;
    background-color: orangered;
    border-radius: 20%;
}